* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
html {
  font-size: 26.66667vw;
}
.header {
  display: flex;
  height: .45rem;
  line-height: 45px;
  background-color: #ff841d;
  text-align: center;
}
.header .left {
  width: .5rem;
}
.header .left a {
  display: block;
  line-height: .45rem;
  padding: 0 .1rem;
}
.header .left a::before {
  font-size: .3rem;
  color: #fff;
}
.header .left-img {
  width: 2rem;
  padding: 0 .1rem;
}
.header .left-img a {
  display: block;
}
.header .left-img a img {
  width: 100%;
}
.header .center {
  flex: 1;
  color: #fff;
}
.header .right {
  width: .5rem;
}
.header .right a {
  display: block;
  height: 100%;
  padding: 0 .1rem;
}
.header .right a img {
  width: 100%;
}
#footer {
  height: 1.74rem;
}
#footer .rank {
  background-color: #ff9711;
  display: flex;
  line-height: .35rem;
  justify-content: space-between;
}
#footer .rank p {
  margin: 0;
  font-size: .14rem;
  color: #fff;
  padding-left: .1rem;
}
#footer .rank span {
  line-height: .35rem;
  color: #fff;
  padding-right: .1rem;
  font-size: .14rem;
}
#footer .enter {
  padding-top: .3rem;
}
#footer .enter ul {
  display: flex;
  border-top: .02rem solid #ccc;
  border-bottom: .02rem solid #ccc;
}
#footer .enter ul li {
  line-height: .45rem;
  text-align: center;
  width: 1.2rem;
}
#footer .enter ul li:nth-child(1),
#footer .enter ul li:nth-child(2) {
  border-right: .02rem solid #ccc;
}
#footer .enter ul li:nth-child(3) {
  flex: 1;
}
#footer .enter ul li a {
  font-size: .13rem;
  color: #747474;
}
#footer .download {
  padding: .1rem 0;
  text-align: center;
}
#footer .download p {
  margin: 0;
  font-size: .14rem;
  line-height: .18rem;
}
#footer .download p:nth-child(1) {
  color: #000;
}
#footer .download p:nth-child(1) a {
  color: red;
}
#footer .download p:nth-child(1) span {
  color: #9d9d9d;
}
.mui-input-group .mui-input-row:after {
  height: 0;
}
.mui-table-view-cell:after {
  left: 0;
}
* {
  -webkit-tap-highlight-color: transparent;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.search form {
  display: flex;
  padding: .1rem;
  background-color: #fff;
}
.search form .search-input {
  border: none;
  width: 80%;
  height: .35rem;
  margin: 0;
  border-radius: .5rem;
  background-color: #f1f1f1;
  font-size: .13rem;
}
.search form .search-input > input {
  font-size: .14rem;
}
.search form .btn-search {
  flex: 1;
  margin-left: .05rem;
  border-radius: .5rem;
  background-color: #ff841d;
  color: #fff;
  text-align: center;
  line-height: .35rem;
  font-size: .13rem;
}
#main {
  flex: 1;
  background-color: #f1f1f1;
  position: relative;
}
#main .list > ul > li {
  background-color: #eee;
}
#main .list > ul > li .mui-collapse-content {
  padding: 0;
}
#main .list > ul > li .mui-collapse-content .tap-content {
  display: flex;
  flex-wrap: wrap;
}
#main .list > ul > li .mui-collapse-content .tap-content > a {
  color: #333;
  text-align: center;
  font-size: .16rem;
  box-sizing: border-box;
  width: 33.33%;
  padding: .06rem .08rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#main .list > ul > li .mui-collapse-content .tap-content > a:nth-of-type(3n) {
  border-right: none;
}
#main .recommend-bg {
  background-color: #eee;
  padding-bottom: .1rem;
  margin-top: .05rem;
}
#main .recommend-bg .recommend {
  background-color: #ff9711;
  display: flex;
  line-height: .35rem;
  justify-content: space-between;
}
#main .recommend-bg .recommend p {
  margin: 0;
  font-size: .14rem;
  color: #fff;
  padding-left: .1rem;
}
#main .recommend-bg .recommend span {
  line-height: .35rem;
  color: #fff;
  padding-right: .1rem;
  font-size: .14rem;
}
#footer {
  background-color: #333;
  height: auto;
}
#footer .enter {
  padding-top: 0;
}
#footer .enter ul {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#footer .enter ul li > a {
  color: #fff;
}
#footer .download p:nth-child(1) {
  color: #9d9d9d;
}
a {
  background-size: 30px 30px;
}
.ring > a:nth-child(1) {
  background-image: url("../images/ic_search.png");
}
.ring > a:nth-child(2) {
  background-image: url("../images/ic_cu.png");
}
.ring > a:nth-child(3) {
  background-image: url("../images/ic_coudanpin.png");
}
.ring > a:nth-child(4) {
  background-image: url("../images/ic_bcj.png");
}
.ring > a:nth-child(5) {
  background-image: url("../images/haitao.png");
}
.ring > a:nth-child(6) {
  background-image: url("../images/ic_temai.png");
}
.ring > a:nth-child(7) {
  background-image: url("../images/ic_coudanpin.png");
}
.ring > a:nth-child(8) {
  background-image: url("../images/home.png");
}
.circle {
  position: fixed;
  height: 30px;
  width: 30px;
  top: 45px;
  left: 0px;
  z-index: 999;
  background-image: url(../images/ball.jpg);
  background-size: cover;
  border-radius: 50%;
}
.ring {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0) rotate(-270deg);
  -moz-transform: scale(0) rotate(-270deg);
  -transform: scale(0) rotate(-270deg);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.open.ring {
  left: -45px;
  top: -45px;
  opacity: 1;
  width: 120px;
  height: 120px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -transform: scale(1) rotate(0deg);
}
.center1 {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #b3b3b3;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.open.center1 {
  border-color: #aaaaaa;
}
.menuItem {
  border-radius: 50%;
  color: #eeeeee;
  display: block;
  height: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  text-align: center;
  width: 30px;
}
.mask {
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
}
.hide {
  display: none;
}
.loadding::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  content: "";
  z-index: 1000;
}
.loadding::after {
  font: normal normal normal 0.14rem/1 FontAwesome;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -0.5rem;
  font-size: 1rem;
  color: #333;
  content: "\f110";
  z-index: 1001;
  animation: fa-spin 1s infinite linear;
}
