//初始化样式
html {
    font-size: 26.666667vw;
}

body {
    font-size: 0.14rem;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

//头部样式
#header {
    display: flex;
    background-color: #ff841d;

    .left {
        width: 0.45rem;
        height: 0.45rem;
        text-align: center;
        line-height: 0.45rem;
        font-size: .32rem;
        color: #fff;
    }

    .center {
        flex: 1;
        text-align: center;
        line-height: 0.45rem;
        height: 0.45rem;

        p {
            font-size: .2rem;
            color: #fff;
        }
    }

    .right {
        width: 0.7rem;
        height: 0.45rem;
        text-align: center;
        color: #fff;

        .fa-download {
            font-size: .2rem;
            margin-top: .05rem;
        }

        p {
            font-size: 0.10rem;
            color: #fff;
        }
    }
}
#main{
    .conter{
        .shangmian{
            padding: .04rem .2rem;
            .tupian{
                text-align: center;
                img{
                    width: 2.23rem;
                    height: 2.23rem;
                }
            }
            .info{
                margin: .12rem auto;
                color: #999999;
                font-size: .12rem;
            }
            .xiangqing{
                font-size: .22rem;
                line-height: .3rem;
            }
            .baoyou{
                color: orange;
                font-size: .16rem;
            }
            .lianjie{
                width: 100%;
                background-color: orange;
                text-align: center;
                a{
                    height: .4rem;
                    line-height: .4rem;
                    color: #fff;
                }
            }
            .leirong{
                font-size: .16rem;
                line-height: .24rem;
                .bigimg{
                    width: 3.31rem;
                    height: 3.31rem;
                    img{
                        margin-top: .1rem;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
#footer {
    height: 1rem;
    .rank {
        background-color: #ff9711;
        display: flex;
        line-height: .35rem;
        justify-content: space-between;

        p {
            margin: 0;
            font-size: .14rem;
            color: #fff;
            padding-left: .1rem;
        }

        span {
            line-height: .35rem;
            color: #fff;
            padding-right: .1rem;
            font-size: .14rem;
        }
    }

    .enter {
        padding: 0;

        ul {
            display: flex;
            // justify-content: space-around;
            border-top: .02rem solid #ccc;
            border-bottom: .02rem solid #ccc;

            li {
                list-style: none;
                line-height: .3rem;
                text-align: center;
                width: 1.2rem;
                height: 0.3rem;
                &:nth-child(1),
                &:nth-child(2) {
                    border-right: .02rem solid #ccc;
                }

                &:nth-child(3) {
                    flex: 1;
                }

                a {
                    font-size: .16rem;
                    color: #000;
                }
            }
        }
    }

    .download {
        padding: .15rem 0;
        text-align: center;
        
        p {
            margin: 0;
            font-size: .14rem;
            line-height: .18rem;

            &:nth-child(1) {
                color: #000;

                a {
                    color: red;
                }

                span {
                    color: #9d9d9d;
                }
            }
        }

    }
}